<h1> About this record: </h1>
<p><em> Genre: </em><%= @record.genre %></p>
<p> <em>Artist:</em> <%= @record.artist %> </p>
<p> <em>Album:</em> <%= @record.album %></p>
<p> <em>Year:</em> <%= @record.year %> </p>
<p> <em>Quantity:</em> <%= @record.quantity %> </p>
